RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} !^cogniapi\.altervista\.org [NC,OR]
RewriteCond %{HTTP:CF-Visitor} '"scheme":"http"'
RewriteRule ^ https://cogniapi.altervista.org%{REQUEST_URI} [NE,R=301,L] 