<%#
    Header for web pages with import to css files and ico
%>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CogniAPI</title>

    <link rel="SHORTCUT ICON" href="/img/logo.ico">

    <!--Including of CSS Bootstrap library-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!--Including personal css to style up the widget for data img analysis-->
    <link href="/css/imgManagement.css" rel="stylesheet">

    <!--Including font awesome css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>