<%#
    Header for web pages with import to css files and ico
%>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CogniAPI</title>

    <link rel="SHORTCUT ICON" href="img/logo.ico">

    <!--Including of CSS Bootstrap library-->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>